.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: relative;
  width: inherit;
}

.card {
  flex-basis: 200px;
  height: 100%;
  width: auto;
  margin: 8px;
}

@media screen and (max-width: 800px) {
  .card {
    flex-basis: calc(50% - 16px);
  }
}

@media screen and (max-width: 680px) {
  .card {
    flex-basis: calc(100% - 16px);
  }
}
